<h1> <%= @title %> </h1>
<strong> First Name : </strong> <%= @contacts.first_name%> <br>
<strong> Last Name  : </strong> <%= @contacts.last_name %> <br>
<strong> email      : </strong> <%= @contacts.email %> <br>
<strong> note       : </strong> <%= @contacts.note %>
